.dashboard {
  display: flex;
  justify-content: space-between;
  height: 100vh;
  overflow: hidden;
}

.sidebar-left {
  width: 26rem;
  left: 0;
  top: 0;
  bottom: 0;
  overflow-y: auto;

  padding: 4.1rem 2.4rem;
  border-right: 1px solid #e7e7e7;
  &__cta {
    display: flex;
    flex: 1;

    margin-top: 7rem;

    button {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;

      font-size: 14px;
    }
  }

  &__nav {
    display: flex;
    flex: 1;
    margin-top: 4rem;

    &-links {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 2rem;
      cursor: pointer;

      li {
        display: flex;
        padding: 16px 12px 16px 12px;
        align-items: center;
        gap: 12px;
        color: #929292;
        font-weight: 400;

        &.active {
          background: #faf2ff;
          color: #8311f9;
          border-radius: 8px;
        }
      }
    }
  }
}

.content-pane {
  flex: 1;
  overflow-y: auto;
  padding: 4.1rem 4.1rem;
  border-right: 1px solid #e7e7e7;

  &::-webkit-scrollbar {
    display: none;
  }

  &__header {
    h1 {
      color: #181818;
      font-family: Space Grotesk;
      font-size: 28px;
      font-style: normal;
      font-weight: 700;
      line-height: 40px;
    }

    p {
      color: #6a6a6a;
      font-family: Inter;
      font-size: 16px;
      font-style: normal;
      font-weight: 300;
      line-height: 24px;
      letter-spacing: -0.16px;
    }
  }

  &__hero {
    margin: 2rem 0;

    &__content {
      p {
        margin-top: 0.8rem;
      }

      h2 {
        margin-top: 1.4rem;
      }
    }
    &__image {
      width: 71rem;
      height: 37.5rem;
      border-radius: 16px;
      overflow: hidden;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        overflow: hidden;
      }
    }
  }

  &__posts {
    margin-top: 5rem;

    &--header-tab {
      ul {
        list-style: none;
        display: flex;
        gap: 3.4rem;
        border-bottom: 1px solid #f8f8f8;

        li {
          line-height: 24px;
          letter-spacing: -0.16px;
          color: #6a6a6a;
          font-weight: 300;
          padding-bottom: 1.5rem;
          cursor: pointer;
        }

        li.active {
          color: #181818;
          font-weight: 400;
          border-bottom: 2px solid #181818;
        }
      }
    }

    &--list {
      display: flex;
      flex-direction: column;
      gap: 6rem;
      margin-top: 4rem;
    }
  }
}

.sidebar-right {
  width: 34rem;
  right: 0;
  top: 0;
  bottom: 0;
  overflow-y: auto;

  padding: 4.1rem 2.8rem;

  &::-webkit-scrollbar {
    display: none;
  }

  &__header {
    p {
      font-family: "Space Grotesk";
    }
  }

  &__posts {
    margin-top: 2rem;
    border-top: 1px solid #e7e7e7;
    &--header-tab {
      ul {
        list-style: none;
        display: flex;
        gap: 1.4rem;
        border-bottom: 1px solid #f8f8f8;

        li {
          line-height: 24px;
          letter-spacing: -0.16px;
          color: #6a6a6a;
          font-weight: 300;
          padding-bottom: 1.5rem;
          cursor: pointer;
        }

        li.active {
          color: #181818;
          font-weight: 400;
          border-bottom: 2px solid #181818;
        }
      }
    }

    &--list {
      display: flex;
      flex-direction: column;
      gap: 4rem;
      margin-top: 3rem;
    }
  }
}
